<h1>My todos</h1>

<%= form_for @todo, todo_path(@conn, :create), fn(f) -> %>
  <%= text_input f, :text, placeholder: "Whatcha doin'?" %>
  <%= submit "Submit" %>
<% end %>

<%= for todo <- @todos do %>
  <div class="todo">
    <%= link complete_text(todo), to: todo_path(@conn, :update, todo.id), method: :put %>
    <%= link "Delete", to: todo_path(@conn, :delete, todo.id), method: :delete %>
    <%= todo.text %>
  </div>
<% end %>
